/*common********************************************************************/
.j-btn,.j-input,.j-select,.j-radio,.j-checkbox,.j-switch,.j-date,.j-color{
    margin: 3px;
    display: inline-block;
}
.j-option{visibility:hidden}
/*ROW AND COL********************************************************************/

.j-row:after{
    clear:both;
}
.j-row:before, .j-row:after{
    display: table;
    content: " ";
}
.j-col{
    float: left;
}
.j-row.j-row-m > .j-col{margin: 5px 0.5%}
.j-col.c1{width:4.166666666666667%;}
.j-col.c2{width:8.333333333333334%;}
.j-col.c3{width:12.5%;}
.j-col.c4{width:16.666666666666668%;}
.j-col.c5{width:20.833333333333336%;}
.j-col.c6{width:25%;}
.j-col.c7{width:29.166666666666668%;}
.j-col.c8{width:33.333333333333336%;}
.j-col.c9{width:37.5%;}
.j-col.c10{width:41.66666666666667%;}
.j-col.c11{width:45.833333333333336%;}
.j-col.c12{width:50%;}
.j-col.c13{width:54.16666666666667%;}
.j-col.c14{width:58.333333333333336%;}
.j-col.c15{width:62.50000000000001%;}
.j-col.c16{width:66.66666666666667%;}
.j-col.c17{width:70.83333333333334%;}
.j-col.c18{width:75%;}
.j-col.c19{width:79.16666666666667%;}
.j-col.c20{width:83.33333333333334%;}
.j-col.c21{width:87.5%;}
.j-col.c22{width:91.66666666666667%;}
.j-col.c23{width:95.83333333333334%;}
.j-col.c24{width:100%;}

.j-row.j-row-m > .j-col.c1{width:3.166666666666667%;}
.j-row.j-row-m > .j-col.c2{width:7.333333333333334%;}
.j-row.j-row-m > .j-col.c3{width:11.5%;}
.j-row.j-row-m > .j-col.c4{width:15.666666666666668%;}
.j-row.j-row-m > .j-col.c5{width:19.833333333333336%;}
.j-row.j-row-m > .j-col.c6{width:24%;}
.j-row.j-row-m > .j-col.c7{width:28.166666666666668%;}
.j-row.j-row-m > .j-col.c8{width:32.333333333333336%;}
.j-row.j-row-m > .j-col.c9{width:36.5%;}
.j-row.j-row-m > .j-col.c10{width:40.66666666666667%;}
.j-row.j-row-m > .j-col.c11{width:44.833333333333336%;}
.j-row.j-row-m > .j-col.c12{width:49%;}
.j-row.j-row-m > .j-col.c13{width:53.16666666666667%;}
.j-row.j-row-m > .j-col.c14{width:57.333333333333336%;}
.j-row.j-row-m > .j-col.c15{width:61.50000000000001%;}
.j-row.j-row-m > .j-col.c16{width:65.66666666666667%;}
.j-row.j-row-m > .j-col.c17{width:69.83333333333334%;}
.j-row.j-row-m > .j-col.c18{width:74%;}
.j-row.j-row-m > .j-col.c19{width:78.16666666666667%;}
.j-row.j-row-m > .j-col.c20{width:82.33333333333334%;}
.j-row.j-row-m > .j-col.c21{width:86.5%;}
.j-row.j-row-m > .j-col.c22{width:90.66666666666667%;}
.j-row.j-row-m > .j-col.c23{width:94.83333333333334%;}
.j-row.j-row-m > .j-col.c24{width:99%;}
/*ROW AND COL END********************************************************************/

/*btn********************************************************************/
.j-btn{
    background-color: #1da1ff;
    color: #fff;
    padding: 5px 10px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 2px;
    outline: none;
    border: none;
    font-family: "Microsoft Yahei";
    transition: background-color .2s ease;
    -webkit-transition: background-color .2s ease;
    -o-transition: background-color .2s ease;
    -moz-transition: background-color .2s ease;
    -ms-transition: background-color .2s ease;
}
.j-btn.xs{
    padding: 2px 5px;
    font-size: 12px;
}
.j-btn.xs .j-icon{
    font-size: 12px;
}
.j-btn.s{
    padding: 3px 6px;
    font-size: 14px;
}
.j-btn.s .j-icon{
    font-size: 14px;
}
.j-btn.l{
    padding: 7px 14px;
    font-size: 18px;
}
.j-btn.l .j-icon{
    font-size: 18px;
}
.j-btn.xl{
    padding: 9px 16px;
    font-size: 22px;
}
.j-btn.xl .j-icon{
    font-size: 22px;
}
.j-btn:hover{background-color: #5fbcff}
.j-btn:active{background-color: #70c4ff}
.j-btn.success{background-color: #2ac32f}
.j-btn.success:hover{background-color: #27d12c}
.j-btn.success:active{background-color: #2fec34}
.j-btn.warn{background-color: #dfa02b}
.j-btn.warn:hover{background-color: #eaa82c}
.j-btn.warn:active{background-color: #f2af32}
.j-btn.info{background-color: #9e9e9e}
.j-btn.info:hover{background-color: #b6b6b6}
.j-btn.info:active{background-color: #c7c7c7}
.j-btn.danger{background-color: #dc5454}
.j-btn.danger:hover{background-color: #f45d5d}
.j-btn.danger:active{background-color: #ff8383}


.j-input,.j-select,.j-date{
    font-size: 16px;
    border: 1px solid #999;
    background-color:#fff;
    width: 150px;
    padding-left: 5px;
    height: 30px;
    color: #222;
    outline: none;
    border-radius: 2px;
    transition: border-color .2s ease;
    -webkit-transition: border-color .2s ease;
    -o-transition: border-color .2s ease;
    -moz-transition: border-color .2s ease;
    -ms-transition: border-color .2s ease;
}
.j-input:focus{border: 1px solid #bbb;}
.j-input.normal{border-color: #1da1ff}
.j-input.normal:focus{border-color: #70c4ff}
.j-input.success{border-color: #2ac32f}
.j-input.success:focus{border-color: #2fec34}
.j-input.warn{border-color: #dfa02b}
.j-input.warn:focus{border-color: #f2af32}
.j-input.danger{border-color: #dc5454}
.j-input.danger:focus{border-color: #ff8383}
.j-input.xs{
    font-size: 12px;
    height: 23px;
    width: 100px;
    padding-left: 2px;
}
.j-input.s{
    font-size: 14px;
    height: 26px;
    width: 120px;
    padding-left: 4px;
}
.j-input.l{
    font-size: 18px;
    height: 35px;
    width: 170px;
    padding-left: 7px;
}
.j-input.xl{
    font-size: 22px;
    height: 40px;
    width: 200px;
    padding-left: 8px;
}

.j-select{
    cursor: pointer;
    padding: 0;
    line-height: 30px;
    position: relative;
}
.j-select-vw{
    position: relative;
    width: 100%;
    height:100%;
    text-align: center;
    line-height: 27px;
    background-color:#fff;
}
.j-select-vw .j-icon{
    position: absolute;
    right: 7px;
    top: 5px;
    font-size: 20px;
    transform: rotate(0deg);
    transition: transform .2s ease;
    -webkit-transition: -webkit-transform .2s ease;
    -o-transition: -o-transform .2s ease;
    -moz-transition: -moz-transform .2s ease;
    -ms-transition: -ms-transform .2s ease;
}
.j-select-vw .j-icon.s-open{
    transform: rotate(-180deg);
}
.j-select:hover{
    border: 1px solid #bbb;
}
.j-option-w{
    position: absolute;
    width: 100%;
    top: 0px;
    opacity: 0;
    text-align: center;
    border: 1px solid #aaa;
    border-radius: 3px;
    height:0;
    overflow: hidden;
    transition: all .2s ease;
    -webkit-transition: all .2s ease;
    -o-transition: all .2s ease;
    -moz-transition: all .2s ease;
    -ms-transition: all .2s ease;
    background-color:#fff;
    z-index:1;
}
.j-option-w.s-open{
    top: 30px;
    opacity: 1;
    height:auto;
}
.j-option-w .j-option{
    border-bottom: 1px solid #ccc;
}
.j-option-w .j-option.c-disabled{
    color: #aaa;
}
.j-option-w .j-option:hover{
    background-color:#eee;
}
.j-option-w .j-option:last-child{
    border: none
}



/*MESSAGE*************************************************************/
.j-msg-w{
    position: fixed;
    background-color: #2ac32f;
    color: #fff;
    width: 600px;
    left: 50%;
    margin-left: -300px;
    border-radius: 3px;
    padding: 10px 35px;
    font-size: 15px;
    top:-20px;
    opacity: 0;
    transition: all .3s ease;
    -webkit-transition: all .3s ease;
    -o-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
}
.j-msg-w.warn{
    background-color: #dfa02b;
}
.j-msg-w.error{
    background-color: #dc5454;
}
.j-msg-w.info{
    background-color: #9e9e9e;
}
.j-msg-w.msg-open{
    top: 10px;
    opacity: .95;
}
.j-msg-i,.j-msg-close{
    position: absolute;
    font-size: 20px;
    top: 50%;
    margin-top: -10px;
}
.j-msg-i{
    left: 10px;
}
.j-msg-close{
    right:10px;
    cursor: pointer;
    opacity: 1;
}
.j-msg-close:hover{
    opacity: 0.8;
}

/*RADIO************************************************************************************/
.j-radio,.j-checkbox{
    display: inline-block;
    cursor: pointer;
    margin: 3px;
}
.j-radio-cw,.j-checkbox-cw{
    display: inline-block;
    border: 1px solid #999;
    border-color: #999;
    width: 20px;
    height: 20px;
    background-color: transparent;
    border-radius: 50%;
    vertical-align: middle;
    transition: border-color .3s ease;
    -webkit-transition: border-color .3s ease;
    -o-transition: border-color .3s ease;
    -moz-transition: border-color .3s ease;
    -ms-transition: border-color .3s ease;
}
.j-checkbox-cw{
    border-radius: 2px;
    width: 18px;
    height: 18px;
}
.j-radio-c{
    width: 0px;
    height: 0px;
    background-color: transparent;
    position: relative;
    display: inline-block;
    top: -6px;
    left: 9px;
    border-radius: 50%;
    transition: all .3s ease;
    -webkit-transition: all .3s ease;
    -o-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
}
.j-checkbox-c{
    border-radius: 2px;
    background-color: transparent;
    color: transparent;
    position: relative;
    top: -4px;
    font-size: 0px;
    background-color: transparent;
    transition: all .3s ease;
    -webkit-transition: all .3s ease;
    -o-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
}
.j-radio-t,.j-checkbox-t{
    vertical-align: middle;
    font-size: 15px;
    color: #222;
    transition:color .3s ease;
    -webkit-transition:color .3s ease;
    -o-transition:color .3s ease;
    -moz-transition:color .3s ease;
    -ms-transition:color .3s ease;
}
.j-radio:hover .j-radio-cw,.j-checkbox:hover .j-checkbox-cw{border-color: #5fbcff}
.j-radio:hover .j-radio-t,.j-checkbox:hover .j-checkbox-t{color: #5fbcff}
.j-radio.j-checked .j-radio-cw,.j-checkbox.j-checked .j-checkbox-cw{border-color: #1da1ff}
.j-radio.j-checked .j-radio-t,.j-checkbox.j-checked .j-checkbox-t{color: #1da1ff}
.j-radio.j-checked .j-radio-c{
    background-color: #1da1ff;
    width:12px;
    height:12px;
    top: -1px;
    left: 3px;
}
.j-checkbox.j-checked .j-checkbox-c{
    color: #1da1ff;
    top: -2px;
    font-size: 16px;
}
/*RADIO END************************************************************************************/
/*SWITCH************************************************************************************/
.j-switch{
    position: relative;
    cursor: pointer;
    width: 50px;
    height: 24px;
    padding: 2px;
    border-radius: 12px;
    border: 1px solid #ddd;
    background-color: #ddd;
    transition:all .3s ease;
    -webkit-transition:all .3s ease;
    -o-transition:all .3s ease;
    -moz-transition:all .3s ease;
    -ms-transition:all .3s ease;
}
.j-switch:hover{
    border: 1px solid #1da1ff;
}
.j-switch-c{
    position: absolute;
    width: 20px;
    display: inline-block;
    height: 20px;
    background-color: #fff;
    border-radius: 50%;
    left: 2px;
    top: 1px;
    transition:left .3s ease;
    -webkit-transition:left .3s ease;
    -o-transition:left .3s ease;
    -moz-transition:left .3s ease;
    -ms-transition:left .3s ease;
}
.j-switch-t{
    position: absolute;
    opacity: 0; 
    width: 100%;
    padding: 0 8px 0 3px;
    font-size: 12px;
    transition:opacity .3s ease;
    -webkit-transition:opacity .3s ease;
    -o-transition:opacity .3s ease;
    -moz-transition:opacity .3s ease;
    -ms-transition:opacity .3s ease;
    text-align: left;
    color:#fff; 
    height: 24px;
    top: 0;
    line-height: 23px;

}
.j-switch-t.j-st-off{
    opacity: 1;
    text-align: right;
}
.j-switch-t .j-st-on{
    
}
.j-switch-t .j-st-off{
    
}
.j-switch.j-s-on{
    background-color: #1da1ff;
    border: 1px solid #6ca9d4;
}
.j-switch.j-s-on .j-switch-c{
    left: 27px;
}
.j-switch.j-s-on .j-switch-t.j-st-on{
    opacity: 1;
}
.j-switch.j-s-on .j-switch-t.j-st-off{
    opacity: 0;
}
/*SWITCH END************************************************************************************/

/*DATE************************************************************************************/
.j-date{
    position: relative;
    padding: 0;
    padding-top: 2px;
}
.j-date.xs{
    height: 23px;
    width: 100px;
    padding-top: 0;
}
.j-date.s{
    height: 26px;
    width: 120px;
    padding-top: 0;
}
.j-date.l{
    height: 35px;
    width: 170px;
}
.j-date.xl{
    height: 40px;
    width: 200px;
}
.j-date-v{
    width: 100%;
    height: 100%;
    border: none;
    padding: 0;
    outline: none;
    position: relative;
    text-align: center;
    cursor: pointer;
    font-size: 16px;
}
.j-date-w{
    z-index: 1;
    display: none;
    position: absolute;
    width: 100%;
    left: 0;
    border: 1px solid #aaa;
    background-color: #fff;
    top: 0px;
    opacity: 0;
    border-radius: 2px;
    transition:all .3s ease;
    -webkit-transition:all .3s ease;
    -o-transition:all .3s ease;
    -moz-transition:all .3s ease;
    -ms-transition:all .3s ease;
}
.j-date.xs .j-date-v{
    font-size: 12px;    
    top: -3px;
}
.j-date.xs .j-date-w{
    width: 150px;
    left:-25px;
}
.j-date.s .j-date-v{
    font-size: 14px;
}
.j-date.s .j-date-w{
    width: 150px;
    left:-15px;
}
.j-date.l .j-date-v{
    font-size: 18px;
}
.j-date.l .j-date-w{
    
}
.j-date.xl .j-date-v{
    font-size: 22px;
    
}
.j-date.xl .j-date-w{
    
}
.j-date.j-active .j-date-w{
    top: 35px;
    opacity: 1;
}
.j-date.xs.j-active .j-date-w{
    top: 28px;
}
.j-date.s.j-active .j-date-w{
    top: 31px;
}
.j-date.l.j-active .j-date-w{
    top: 40px;
}
.j-date.xl.j-active .j-date-w{
    top: 45px;
}
.j-date-t{
    margin: 0;
    border-bottom:1px solid #aaa;
    line-height: 18px;
}
.j-date-ty,.j-date-tm{
    float: left;
    width:50%;
    position: relative;
}
.j-date-ty{

}
.j-date-tm{

}
.j-date-icon{
    position: absolute;
    top: 2px;
    cursor: pointer;
    font-size: 16px;
    color: #000;
}
.j-date-icon:hover{
    color: #1da1ff;
}
.j-date-icon.icon-angle-left{
    left: 0px;
}
.j-date-icon.icon-angle-right{
    right:0;
}
.j-date-input{
    width: 100%;
    text-align: center;
    font-size: 13px;
    outline: none;
    border: none;
}
.j-date-dw{
    padding: 0 2px;
    background-color: #eee;
}
.j-date-di,.j-date-si{
    float: left;
    width: 14.285714285714286%;
    font-size: 14px;
    text-align: center;
    cursor: pointer;
}
.j-date-di{
    cursor: auto;
}
.j-date-sw{
    padding: 2px;
}
.j-date-si{
    background-color: transparent;
    color:#222;
    border-radius: 3px;
    transition:all .3s ease;
    -webkit-transition:all .3s ease;
    -o-transition:all .3s ease;
    -moz-transition:all .3s ease;
    -ms-transition:all .3s ease;
}
.j-date-si:hover{
    background-color: #70c4ff;
    color:#fff;
    border-radius: 10px;
}
.j-date-si.j-disabled{
    color:#ddd;
    cursor: no-drop;
}
.j-date-si.j-date-current{
    background-color: #2ac32f;
    color:#fff;
    border-radius: 10px;
}
.j-date-si.j-active{
    background-color: #1da1ff;
    color:#fff;
    border-radius: 10px;
}
.j-date-si.j-disabled:hover{
    background-color: transparent;
    color:#ddd;
    border-radius: 3px;
}

.j-clearfix:after{
    clear:both;
}
.j-clearfix:before, .j-clearfix:after{
    display: table;
    content: " ";
}
.j-date-close{
    position: absolute;
    right: -16px;
    font-size: 15px;
    cursor: pointer;
    top: 2px;
    color: #888;
}
.j-date-close:hover{
    color: #e44;
}
/*DATE END************************************************************************************/
/*COLOR************************************************************************************/

.j-color{
    width: 30px;
    height: 30px;
    position: relative;
    cursor: pointer;
    border: 1px solid #aaaaaa;
    border-radius: 5px;
    text-align: center;
    vertical-align: bottom;
}
.j-color.xs{
    height: 23px;
    width: 23px;
}
.j-color.s{
    height: 26px;
    width: 26px;
}
.j-color.l{
    height: 35px;
    width: 35px;
}
.j-color.xl{
    height: 40px;
    width: 40px;
}
.j-color.j-color-bg-alp{
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAAMCAIAAADZF8uwAAAAGUlEQVQYV2M4gwH+YwCGIasIUwhT25BVBADtzYNYrHvv4gAAAABJRU5ErkJggg==);
}
.j-color-icon{
    transform: rotate(0);
    -webkit-transform: rotate(0);
    -o-transform: rotate(0);
    -moz-transform: rotate(0);
    -ms-transform: rotate(0);
    transition:transform .3s ease;
    -webkit-transition:transform .3s ease;
    -o-transition:transform .3s ease;
    -moz-transition:transform .3s ease;
    -ms-transition:transform .3s ease;
    position: absolute;
    top:0;
    left: 0;
    bottom: 0;
    right: 0;
    line-height: 30px;
    color:#ddd;
}

.j-color.xs .j-color-icon{
    line-height: 23px;
}
.j-color.s .j-color-icon{
    line-height: 26px;
}
.j-color.l .j-color-icon{
    line-height: 35px;
}
.j-color.xl .j-color-icon{
    line-height: 40px;
}
.j-color-bg{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    border-radius: 5px;
}
.j-color.j-active .j-color-icon{
    transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
}
.j-color-w{
    width:220px;
    /* display: none; */
    position: absolute;
    border: 1px solid #999;
    top:0;
    left:-95px;
    opacity: 0;
    transition:all .3s ease;
    -webkit-transition:all .3s ease;
    -o-transition:all .3s ease;
    -moz-transition:all .3s ease;
    -ms-transition:all .3s ease;
    background-color: #fff;
}
.j-color.j-active .j-color-w{
    top:32px;
    opacity: 1;
}
.j-color.xs.j-active .j-color-w{
    top:25px;
}
.j-color.s.j-active .j-color-w{
    top:28px;
}
.j-color.l.j-active .j-color-w{
    top:37px;
}
.j-color.xl.j-active .j-color-w{
    top:42px;
}
.j-color-pick:hover{
    cursor: pointer;
}
.j-color-pick{
    background-color: #f00;
    width:200px;
    height:150px;
    position: relative;
}
.j-color-pick-s,.j-color-range-s,.j-color-alp-s{
    position: absolute;
    width:6px;
    height:6px;
    border:1px solid #888;
    background-color: rgba(255,255,255,.7);
}
.j-color-cover1,.j-color-cover2,.j-color-cover-a,.j-color-range-a,.j-color-alp-a,.j-color-alp-color{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
.j-color-cover1{
    background: linear-gradient(90deg,#fff,hsla(0,0%,100%,0));
}
.j-color-cover2{
    background: linear-gradient(0deg,#000,transparent);
}
.j-color-cover-a,.j-color-range-a,.j-color-alp-a{
    background:transparent;
}
.j-color-range{
    position: absolute;
    right:0;
    top:0;
    height:150px;
    width:15px;
    background: linear-gradient(180deg,red 0,#ff0 17%,lime 33%,cyan 50%,blue 67%,#f0f 83%,red);
}
.j-color-range:hover{
    cursor: pointer;
}
.j-color-range-s{
    width:100%;
    height:6px;
}
.j-color-vw{

}
.j-color-v{
    margin: 0;
    border: none;
    border-radius: 0;
    font-size: 13px!important;
    text-align: center!important;
    color:#222;
}
.j-color-v:focus{
    border: none;
}
.j-color-btn{
    float:right;
    margin: 0;
    border-radius:0;
}

.j-color-alp{
    position: relative;
    width: 100%;
    height: 15px;
    margin-top:3px;
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAAMCAIAAADZF8uwAAAAGUlEQVQYV2M4gwH+YwCGIasIUwhT25BVBADtzYNYrHvv4gAAAABJRU5ErkJggg==);
    cursor: pointer;
}
.j-color-alp-color{    
    background: linear-gradient(to right, rgba(19, 206, 102, 0) 0%, rgb(19, 206, 102) 100%);
}
.j-color-alp-s{
    width:6px;
    height: 15px;
}

/*COLOR END************************************************************************************/



@media screen and (max-width: 620px) {
    .j-msg-w{
        width:94%;
        font-size: 12px;
        left: 3%;
        margin-left: 0px;

    }
}